body {
  background-color: #10db10;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
}
.start p {
  font-size: 23px;
}
button {
  text-align: center;
  font-size: 17px;
}
.start {
  text-align: center;
}
.gameplay {
  text-align: center;
  visibility: hidden;
  background-color: white;
}
.scoreboard {
  visibility: hidden;
  text-align: center;
}
.moving {
    animation-duration: 3s;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    background: white;
    height:100px;
    width:200px;
}
#pscore{
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}
@keyframes moving {
    from {
        top: 5%;
    }
    to {
        top: 95%;
    }
}
.moving-up {
    animation-duration: 3s;
    animation-name: moving-up;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    background: white;
    height:100px;
    width:200px;
}

@keyframes moving-up {
    from {
        top: 95%;
    }
    to {
        top: 5%;
    }
}
